{% extends 'base.html.twig' %}

{% block title %}Hello UserProfileController!{% endblock %}

{% block body %}
    <div class="example-wrapper" style="max-width:1200px">
        {% for message in app.flashes('notice') %}
            <div class="alert alert-notice">
                {{ message }}
            </div>
        {% endfor %}
        <div class="row">
            <div class="col-3">
                <ul class="list-group">
                    <li class="list-group-item disabled">Zamówienia</li>
                    <a href="{{ path('app_order_history') }}">
                        <li class="list-group-item">Historia zamówień</li>
                    </a>
                    <li class="list-group-item">Adresy zamówień</li>
                    <li class="list-group-item disabled">Ustawienia</li>
                    <a href="{{ path('app_change_password') }}">
                        <li class="list-group-item">Zmiana hasła</li>
                    </a>
                </ul>
            </div>
            <div class="col-9">

                <table class="table" border="1px solid black">
                    <thead>
                    <tr>
                        <th scope="col">Lp.</th>
                        <th scope="col">Zamówienie</th>
                        <th scope="col">Data zamówienia</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <th scope="row">{{ loop.index }}</th>
                            <td>
                                <table class="table" border="1px solid black">
                                    <thead>
                                    <tr>
                                        <th scope="col">Lp.</th>
                                        <th scope="col">Nazwa produktu</th>
                                        <th scope="col">Ilość</th>
                                        <th scope="col">Cena</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in order.items %}
                                    <tr>
                                        <th scope="row">{{ loop.index }}</th>
                                        <td>{{ item.productName }}</td>
                                        <td>{{ item.amount }}</td>
                                        <td>{{ item.price/100 * item.amount }}zł</td>
                                        {% endfor %}
                                    </tr>
                                    </tbody>
                                </table>

                                </ul>
                            </td>
                            <td>{{ order.createdAt|date("m/d/Y H:i:s") }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
